[Unit]
Description=Pulse Audio
Requires=bluetooth.service
After=bluetooth.service

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
ExecStartPre=/usr/bin/hciconfig hci0 up
ExecStartPre=/usr/bin/hciconfig hci0 piscan
ExecStart=/usr/lib/a2dp-receiver/agent
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20
