[Unit]
Description=Pulse Audio
After=bluetooth.service pulseaudio.service

[Install]
WantedBy=multi-user.target

[Service]
User=pulse
Type=simple
ExecStart=/usr/bin/python /usr/bin/bt-volume-control.py
